<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DB_scientificLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DB_scientificLibrary.Properties.Settings.ConnectionString"
            connectionString="Provider=SQLNCLI11;Data Source=desktop-fsjq9s9;Integrated Security=SSPI;Initial Catalog=Scientific_Library"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DB_scientificLibrary.Properties.Settings>
            <setting name="User" serializeAs="String">
                <value>Provider=SQLNCLIRDA11;Data Source=desktop-fsjq9s9;Password=sa;User ID=sa;Initial Catalog=Scientific_Library</value>
            </setting>
        </DB_scientificLibrary.Properties.Settings>
    </userSettings>
</configuration>